<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
    <spring:beans>
		<spring:bean id="HikariCP_Data_Source" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close"> 
            <spring:property name="jdbcUrl"				value="${secure::database.aurora.conn.pool.jdbcUrl}" />
            <spring:property name="driverClassName" 	value="${secure::database.aurora.conn.pool.driverClassName}" />
            <spring:property name="username" 			value="${secure::database.aurora.username}" />
            <spring:property name="password" 			value="${secure::database.aurora.password}" />
            <spring:property name="connectionTimeout" 	value="${secure::database.aurora.conn.pool.connectionTimeout}" />
            <spring:property name="idleTimeout" 		value="${secure::database.aurora.conn.pool.idleTimeout}" />
            <spring:property name="maxLifetime" 		value="${secure::database.aurora.conn.pool.maxLifetime}" />
            <spring:property name="maximumPoolSize" 	value="${secure::database.aurora.conn.pool.maxPoolSize}" />
		</spring:bean>			
	</spring:beans>
</beans>